<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angel's Note</title>
</head>
<header>
    <h1>Angel's Learning Notes</h1>
    <nav>
        <ul>
            <li><a href={{site.baseurl}}/"index.html">Home</a></li>
            <li><a href={{site.baseurl}}/"notes.html">Notes</a></li>
            <li></li>
        </ul>
    </nav>
</header>
<body>
{{content}}
</body>
</html>